/* File: styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table th,
.table td {
    vertical-align: middle;
}

#alerts .list-group-item {
    margin-bottom: 10px;
}

.container {
    margin-top: 50px;
}

.navbar-brand {
    font-size: 24px;
}

.chart-container {
    width: 200px; /* Adjust to control chart size */
    height: 200px; /* Adjust to control chart size */
    margin: 0 auto; /* Center the chart */
}
